# Notion API
NOTION_API_KEY=secret_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
NOTION_SERVICES_DB_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
NOTION_BLOG_DB_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
NOTION_COMPANY_PAGE_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# Site
NEXT_PUBLIC_SITE_URL=https://www.zest2020.com
